*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #2b3d5b;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
}

.eye{
    display: block;
}

.hide{
    display: none;
}
