*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #2b3d5b;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.log{
    background-color: aquamarine;
    position: absolute;
    width: 50%;
}
.log input{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 10px;
    width: 50%;
    height: 30px;
    left: 25%;
}
img{
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: 20rem;
}

.eye{
    display: block;
}

.hide{
    display: none;
}
